body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(18, 134, 180);
    background: rgb(219, 231, 236);
    width: 70%;
    margin: auto;
}

main {
    background-color: #ece8e8;
}

section {
    width: 95%;
    margin: auto;
    margin-top: 25px;
}
.logo {
    margin: auto;
    width: 250px;
}
.logo img {
    height: 99px;
    width: 250px;
}
#equipe {
    text-align: center;
    box-shadow: 1px 1px 1px 1px;
}
#Citation {
    display: flex;
    margin: auto;
    width: 90%;
}

.profil {
    text-align: center;
    margin-top: 25px;
    width: 25%;
}

.profil img {
    width: 99px;
    border-radius: 55%;
    height: 88px;
}
h1 {
    font-size: 22px;
    font-family: cursive;
    font-weight: bold;
}